body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.nav-footer {
    background-color: #e83e8c;
}

.icons-section {

}

.img-width {
    width: 3em;
}

.img-hero{
    width: 10em;
}

h1 {
    font-weight: 400;
}

body div {
    font-weight: 400;
}

